.ContactoContainer {
  min-height: 420px;
  p {
    margin: 0 auto;
    width: 400px;
    font-family: 'ciclefina';
    font-size: 24px;
    text-align: center;
    line-height: 2;
    &:first-of-type {
      margin-top: 90px;
    }
  }
}
