.SobreMiContainer {
  img {
    margin: 40px auto;
    height: 210px;
  }
  p {
    margin: 0 auto;
    width: 600px;
    font-family: 'ciclefina';
    font-size: 18px;
    text-align: justify;
  }
}
