.ViewContainer {
  min-height: 650px;
  &#VistaHome {
    padding-top: 36px;
    img {
      width: 322px;
      height: auto;
    }
  }
  &#VistaSobreMi {
    img {
      margin: 27px auto;
      height: 180px;
    }
    article {
      margin: 0 auto;
      font-family: "ciclefina";
      font-size: 18px;
      text-align: justify;
      line-height: 1.2;
      p {
        &:first-of-type {
          margin: 5px 0 0;
        }
        margin: 15px 0;
      }
    }
  }
  &#VistaContacto {
    @media (max-width: 768px) {
      min-height: 830px;
    }
    div.ColContainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      min-width: 425px;
      padding-top: 35px;
      div.LeftCol {
        display: flex;
        min-width: 350px;
        max-width: 450px;
        flex-grow: 1;
        padding-right: 30px;
        flex-direction: column;
        justify-content: space-between;
        height: 270px;
        p {
          width: auto;
          font-size: 22px;
          &:first-of-type {
            margin-top: 24px;
            position: relative;
            & > .btn-whapp {
              width: 56px;
              height: 56px;
              position: absolute;
              bottom: 5px;
              right: -75px;
              background-color: #25d366;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-image: url("../assets/whatsapp.png");
              box-shadow: 1px 1px 1px #111;
              background-repeat: no-repeat;
              background-size: 56%;
              background-position: center;
            }
          }
          margin: 0 0 0 auto;
          font-family: "ciclefina";
          text-align: center;
          line-height: 1.2;
          color: rgb(65, 64, 66);
          a {
            color: rgb(65, 64, 66);
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        @media (max-width: 768px) {
          height: 220px;
          min-width: 300px;
          width:auto;
          padding-right: 0;
          p {
            margin: auto;
            &:first-of-type { margin-top: 10px; }
            &:last-of-type { margin-bottom: 34px; }
          }
        }
      }
      div.RightCol {
        iframe {
          width: 340px;
          height: 290px;
        }
      }
    }
  }
}
